// Main color
$gil-blue: #0389ff;
$job-navy: #172965;

// Custom Color
$main-gray: #f3f3f3;
$line-gray: #e3e3e3;
$line-dark-gray: #b0b0b0;
$text-main: #333333;
$text-gray: #b6b6b6;
$footer-gray: #f9f9f9;
$icon-gray: #dfdfdf;
